@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  opacity: 0.8;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
  background-blend-mode: multiply;
  max-height: 100vh;
}

h1 {
  font-family: "Sixtyfour", sans-serif;
}
